@import "bourbon"
@import "vars.sass"

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: "OpenSans",sans-serif 
	overflow-x: hidden
	background-color: $main-color
	color: #fff

h1,h2,h3,h4,h5,h6
	font-family: Opensans, sans-serif


strong,b
	font-family: Merriweather 

header
	padding: 40px
	//height: 100vh

.top-icons
	padding-top: 10px
	a
		display: block
		font-size: 24px
		background: #fff
		border-radius: 50%
		width: 30px
		height: 30px
		position: relative
		margin: 9px 0
		transition: all .3s
		&:nth-of-type(1)
			i
				left: 4px
				top: 2px
				font-size: 26px

		&:nth-of-type(2)
			i
				left: 5px
				top: 3px
				font-size: 26px

		&:nth-of-type(3)
			i
				left: 4px
				top: 4px
				font-size: 22px

		&:hover
			background: $accent
			i
				color: #fff
		i
			position: absolute
			left: 3px
			top: 5px
			color: #000

.logo
	text-transform: uppercase
	color: #fff
	font-size: 33px
	font-weight: bold
	display: block
	width: 92px
	word-wrap: break-word
	line-height: 1
	&:hover
		text-decoration: none
		color: #fff
	span
		color: $accent
.top-menu
	ul,li
		margin: 0
		padding: 0
		list-style-type: none
		li
			float: right
			&:first-child
				border-right: 2px solid $accent
			a
				padding: 10px 20px
				display: block
				text-transform: uppercase
				color: #fff
				border-top: 2px solid $accent
				border-bottom: 2px solid $accent
				border-left: 2px solid $accent
				transition: all .25s
	
				&:hover
					color: $accent
					text-decoration: none
				&:focus
					text-decoration: none

.top-text
	font-size: 57px
	line-height: 0.9
	h1
		width: 60%
		margin: 0 auto

.top-services
	width: 350px
	height: 212px
	border: 2px solid $accent
	padding: 0px 40px
	float: right
	background: url(/img/computer-mouse.png) no-repeat
	background-size: 100px
	background-position: 228px 100px
	h4
		color: $accent
	span
		text-transform: uppercase
		font-weight: bold

.block-about
	h2
		font-size: 69px
		color: $accent

.block-about-text
	p
		padding: 0 27px 31px 0

.block-about-guarantee
	padding-top: 40px
	p
		font-size: 21px
.hidden
	display: none
