@import "bourbon"
@import "vars.sass"

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: "OpenSans",sans-serif 
	overflow-x: hidden
	background-color: $main-color
	color: #fff

h1,h2,h3,h4,h5,h6
	font-family: Opensans, sans-serif
	text-transform: uppercase

strong,b
	font-family: Merriweather 

header
	padding: 40px

.top-icons
	padding-top: 10px
	a
		display: block
		font-size: 24px
		background: #fff
		border-radius: 50%
		width: 30px
		height: 30px
		position: relative
		margin: 9px 0
		transition: all .3s
		&:nth-of-type(1)
			i
				left: 4px
				top: 2px
				font-size: 26px

		&:nth-of-type(2)
			i
				left: 5px
				top: 3px
				font-size: 26px

		&:nth-of-type(3)
			i
				left: 4px
				top: 4px
				font-size: 22px

		&:hover
			background: $accent
			i
				color: #fff
		i
			position: absolute
			left: 3px
			top: 5px
			color: #000

.logo
	text-transform: uppercase
	color: #fff
	font-size: 33px
	font-weight: bold
	display: block
	width: 92px
	word-wrap: break-word
	line-height: 1
	&:hover
		text-decoration: none
		color: #fff
	span
		color: $accent
.top-menu
	ul,li
		margin: 0
		padding: 0
		list-style-type: none
		li
			float: right
			&:first-child
				border-right: 2px solid $accent
			a
				padding: 10px 20px
				display: block
				text-transform: uppercase
				color: #fff
				border-top: 2px solid $accent
				border-bottom: 2px solid $accent
				border-left: 2px solid $accent
				transition: all .25s
	
				&:hover
					color: $accent
					text-decoration: none
				&:focus
					text-decoration: none


.hidden
	display: none
